<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="POST" th:action="@{/update_user/}" th:object="${userId}">

<!--    <input type="hidden" th:field="*{id}" />-->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <br/>

    <input type="submit" value="Update">
</form>
<br>

<form th:action="@{/}" th:method="GET">
    <button type="submit">All user</button>
</form>
</body>
</html>